.container
  .row
    h2.span12 #{config.scored == true ? __i('Congrats Gomez!!!') : __i('Anticipation...')}
    .row.tweets
      for tweet in tweets.results
        .span4.blue.tweet
          .row
            .span1.tweet-pic
              img(src=tweet.profile_image_url)
            .span3.tweet-desc
              span.tweet-user #{tweet.from_user_name + ' '}
              span.tweet-username @#{tweet.from_user}
              p.tweet-text #{tweet.text}
